*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 90px;
}

header{
    background-color: #ffffff;
    
}
nav{
    max-height: 92px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 auto;
}
nav .logo{
width: 139px;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 120px;

}

nav .menu ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 32px;
    padding: 34px;
    
    

}

nav .menu ul li{
    font-size: 19px;
    font-weight: 500;
    color: black;
}

 /* .btn{
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    padding: 12px 16px;
    display: flex;
    
    
} */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 18px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid transparent;
  transition: 180ms ease;
  user-select: none;
  background-color: #30B868;
 
  color: white;
}
 .nav-btn{
     margin-right: 120px;
}
.hero{
    background: url(../images/assets/hero-bg.png),#ffffff;
    background-size: cover;
    background-position: center;
    padding: 116px 120px 180px 120px;
}
.hero-title{
    gap: 16px;
}
.hero-container{
    text-align: center;
    color: white;
    max-height: 380px;
}
.hero-paragraph  {
    padding-bottom: 16px;
}
.hero-btn{
    
    display: inline-flex;
    gap: 16px;
}
.early-access{
    color: green;
    display: inline-flex;
    padding: 8px 12px 8px 34px;
    border: 1px solid green;
    background-color: white;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    
    
}
.text-green{
    color: #30B868;
}
.dot{
    border: none;
    
}
.notes{
    border: 1px solid red;
    display: block;
    text-align: center;
}
.notes h2{
    padding-top: 20px;
    font-size: 48px;
    font-weight: bold;
    gap: 30px;
}
.notes p{
    font-size: 16px;
    color: #627382;
    gap: 44px;

}

.notes-container{
    display: flex;
    justify-content: space-between;
}